
<div class="banner"  style="background-image: url(<%= cl_image_path @cocktail.photo.key %>)">
  <h1>
    <span id="banner-typed-text"></span>
  </h1>
</div>



<div id="typed-strings">
  <h1><%= @cocktail.name %></h1>
</div>



<div class="flex-card">
  <div class="description-card">
    <div class="description-text">
    <h2>Description:</h2>
    <p><%= @cocktail.description %></p>
    </div>
    <div class="preparation-text">
      <h2>Preparation:</h2>
      <% if @cocktail.preparation.nil? %>
        <p class="static-gray">No preparation given!</p>
      <% else %>
        <p><%= @cocktail.preparation %></p>
      <% end %>
    </div>
  </div>

  <div>
    <h2>Ingredients:</h2>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <p><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, class: "btn btn-outline-secondary btn-sm border-0", data: {confirm: "Are you sure you want to delete?"} do %>
            <i class="fas fa-trash"></i>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-secondary" %>


    <%= link_to "Back to homepage", cocktails_path, class: "btn btn-outline-secondary" %>
  </div>

</div>
<div class="spacing-bottom"></div>
