
<div class="banner"  style="background-image: url('<%= cl_image_path @cocktail.photo.key %>')">
  <h1><%= @cocktail.name %></h1>
</div>



<div class="flex-card">
  <div class="description-card">
    <h2>Description:</h2>
    <p><%= @cocktail.description %></p>
  </div>

  <div>
    <h2>Doses:</h2>
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <p><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, class: "btn btn-outline-secondary btn-sm" %></p>
        </li>
      <% end %>
    </ul>
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-secondary" %>


    <%= link_to "Back to homepage", cocktails_path, class: "btn btn-outline-secondary" %>
  </div>

</div>
